@tailwind base;
@tailwind components;
@tailwind utilities;


option::marker {
    content: '';
}

.roc {
    position: relative;
}

.roc::before {
    position: absolute;
    content: '.';
    height: 73px;
    width: 1px;
}